@use '../../styles/variables' as *;

.container-header header {
  background-color: $primary-color; 
  margin: 0;    
  background-image: radial-gradient($secondary-color, $third-color); 
  color: white;    
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.container-header input,
.container-header select {
  padding: 5px;
  border-radius: 10px;
}

.container-header button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #1e8f2f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
