@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.container-header header {
  background-color: $primary-color;
  margin: 0;
  background-image: radial-gradient($secondary-color, $third-color);
  color: white;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.form-header{
  display: flex;
  gap: 5px;
  align-items: center;
}

.container-header input,
.container-header select {
  padding: 5px;
  border-radius: 10px;
}

.container-header button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $secondary-color;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-primario {
  @include botao-estilo(white, green);
}
